body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:746px;
  display:flex;
  transition:none;
}
#u3442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:746px;
}
#u3442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:544px;
  width:13px;
  height:14px;
  display:flex;
  transition:none;
  font-family:"anticon Medium", "anticon", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.8470588235294118);
}
#u3444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u3444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:501px;
  width:595px;
  height:32px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u3446 .text {
  position:absolute;
  align-self:center;
  padding:8px 8px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:32px;
}
#u3446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:536px;
  width:10px;
  height:6px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u3447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:397px;
  width:723px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3448 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3448_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
