body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1628px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:1631px;
  height:927px;
  display:flex;
  transition:none;
}
#u4442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1631px;
  height:927px;
}
#u4442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:136px;
  width:127px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u4443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4443_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:523px;
  width:793px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(112.82587911439482deg);
  -moz-transform:rotate(112.82587911439482deg);
  -ms-transform:rotate(112.82587911439482deg);
  transform:rotate(112.82587911439482deg);
  transition:none;
}
#u4444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4444_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:811px;
  height:19px;
}
#u4444p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:802px;
  height:10px;
  -webkit-transform:rotate(0.17412088560517702deg);
  -moz-transform:rotate(0.17412088560517702deg);
  -ms-transform:rotate(0.17412088560517702deg);
  transform:rotate(0.17412088560517702deg);
}
#u4444p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:802px;
  height:10px;
}
#u4444p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(0.17412088560517702deg);
  -moz-transform:rotate(0.17412088560517702deg);
  -ms-transform:rotate(0.17412088560517702deg);
  transform:rotate(0.17412088560517702deg);
}
#u4444p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u4444p002 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-179.8258791143948deg);
  -moz-transform:rotate(-179.8258791143948deg);
  -ms-transform:rotate(-179.8258791143948deg);
  transform:rotate(-179.8258791143948deg);
}
#u4444p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:141px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:899px;
  width:203px;
  height:141px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:899px;
  width:189px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u4446 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 15px 50px;
  box-sizing:border-box;
  width:100%;
}
#u4446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:960px;
  width:189px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:9px 2px 9px 50px;
  box-sizing:border-box;
  width:100%;
}
#u4447_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u4447.selected {
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:930px;
  width:18px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"Anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:888px;
  width:245px;
  height:168px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:888px;
  width:150px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4450 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
